<div *ngIf="identity; then loged else notLoged "></div>

<ng-template #notLoged>
    <div class="row ml-2">
        <div class="col-lg-6">
            <h1>Identificate</h1>

            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 pl-0" novalidate>
                <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                    <span class="alert-heading">{{errorMessage}}</span>

                </div>
                <p>
                    <label>Correo Electronico</label>

                    <input #email="ngModel" name="email" [(ngModel)]="user.email" type="text" class="form-control" required>
                    <span class="text-danger" *ngIf="!email.valid && email.touched">
                        El email es obligatorio
                    </span>
                </p>
                <p>
                    <label>Password</label>
                    <input #password="ngModel" name="password" [(ngModel)]="user.password" type="password" class="form-control" required>
                </p>
                <input type="submit" value="Entrar" class="btn btn-primary">
            </form>
        </div>
        <div class="col-lg-6">
            <h1>Registrate</h1>

            <form class="col-md-6 pl-0">
                <p>
                    <label>Nombre</label>
                    <input #firstName="ngModel" name="firstName" [(ngModel)]="user.name" type="text" class="form-control" required>
                </p>

                <p>
                    <label>Apellidos</label>
                    <input #surname="ngModel" name="surname" [(ngModel)]="user.surname" type="text" class="form-control" required>
                </p>

                <p>
                    <label>Correo Electronico</label>
                    <input #emailreg="ngModel" name="emailreg" [(ngModel)]="user.email" type="text" class="form-control" required>
                </p>

                <p>
                    <label>Password</label>
                    <input #passwordreg="ngModel" name="passwordreg" [(ngModel)]="user.password" type="password" class="form-control" required>
                </p>
                <input type="submit" value="Registrarse" class="btn btn-primary">
            </form>




        </div>
    </div>
</ng-template>


<ng-template #loged>
    <div class="navigation col-lg-1">
        <h1>
            {{ title }}
        </h1>
    </div>
    <div class="clearfix"></div>
    <div class="navigation col-lg-11">
        <p>Estas logueado en el aplicacion</p>
    </div>
    <router-outlet></router-outlet>
</ng-template>